/* 폰트 가져오기, 눈누에서 가독성 좋아보이는 서체 가져옴 */ 

@font-face { font-family: 'Eoe_Zno_B'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }

@font-face {
    font-family: 'Eoe_Zno_M'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_M.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face { font-family: 'Eoe_Zno_L'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }


/* 전체 폰트 설정 */
.megatitle_fset {
    font-family: 'Eoe_Zno_B';
    font-size : 40px;
}

.title_fset {
    font-family: 'Eoe_Zno_B';
    font-size : 24px;
}

.fset {
    font-family: 'Eoe_Zno_M';
    font-size : 18px;
}

.sub_fset {
    font-family: 'Eoe_Zno_L';
    font-size : 12px;
}

/*stop.html*/
.stopbg {
    background: #3f51b5;
    background: -webkit-linear-gradient(to right, #3f51b5, #3775c5);
    background: linear-gradient(to right, #3f51b5, #3775c5);
    min-height: 100vh;
} 

.stop_result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bookmark bus_name bus_name bus_name first_bus first_bus first_bus first_bus reserve" "bookmark bus_name bus_name bus_name second_bus second_bus second_bus second_bus reserve";
  }
  
.bookmark { grid-area: bookmark; }
  
.bus_name { 
    grid-area: bus_name;
    font-family: 'Eoe_Zno_B';
    font-size : 18px;
    text-align: left;
}
  
.first_bus { 
    grid-area: first_bus;
    font-family: 'Eoe_Zno_L';
    font-size : 13px;
}
  
.second_bus { 
    grid-area: second_bus;
    font-family: 'Eoe_Zno_L';
    font-size : 13px;
 }
  
.reserve { grid-area: reserve; }