{% extends 'ebuapp/navbar.html' %}

{% block content %}
    {% load static %}
    <body class="stopbg">
            <div class="container py-4">
                <div class="row text-center text-white mb-3">
                    <div class="col-lg-7 mx-auto">
                        <p class="megatitle_fset">즐겨찾기</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- List group-->
                        <ul class="list-group shadow">
                            <li class="list-group-item  text-center fset">
                                <p5 class="text-center title_fset">버스 즐겨찾기</p5>
                                <br>
                                {% for key, value in bookmark_bus.items %}
                                    <a class ="fset btn-link" href="{% url 'bus' key %}">{{value}}</a><br>
                                {% endfor %}    
                            </li>
                            <li class="list-group-item text-center fset">
                                <p4 class="text-center title_fset">정류소 즐겨찾기</p4>
                                <br>
                                {% for key, value in bookmark_stop.items %}
                                    <a class ="fset btn-link" href="{% url 'stop' key %}">{{value}}</a><br>
                                {% endfor %} 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </body>  

{% endblock %}

<!-- 즐겨찾기 목록
<br>
버스명 즐겨찾기
<br>

<br><br>
정류소명 즐겨찾기
<br>
{% for key, value in bookmark_stop.items %}
    <a class ="btn-link" href="{% url 'stop' key %}">{{value}}</a><br>
{% endfor %} -->