{% extends 'ebuapp/navbar.html' %}
{% block content %}
    {% load static %}
    <body class="stopbg">
        <div class="container py-4"> 
            <div class="row text-center text-white mb-3">
                <div class="col-lg-7 mx-auto">
                        <p class="megatitle_fset">{{busNm}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- List group-->
                    <ul class="list-group shadow">
                    {% for key, value in No_Nm_list.items %}
                        <li class="list-group-item">
                            {% if key in stop %}<a href="{% url 'book_stop' busid key value %}">
                                    <i class="fa fa-star"></i></a>
                            {% else %} <a href="{% url 'book_stop' busid key value %}">
                                    <i class="fa fa-star-o"></i></a>
                            {% endif %}
                            <a class="btn-link" href= "{% url 'stop' key %}">{{value}} </a>     
                                <br>
                        </li>
                        
                            
                    {% endfor %} 
                    </ul>
                
            </div>   
        </div>            
    </body>
{% endblock %}
