{% load static %}

<!doctype html>
<html lang="kor">
        <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
                <!-- Local CSS -->
                <link rel = "stylesheet" type="text/css" href="{% static 'ebuapp/css/style.css' %}" />
            
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            
                <!-- Icon -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
                <title>Ebu, 모두를 위한 버스</title>
              </head>
              
  <body class="bgbg text-center"> 
      <h1 class="whitetitle_fset">Ebu</h1>


    
      <div class="box1">
          <div style="display: inline-block">
              <form method = "GET" action = "{% url 'stop_search' %}">
                  <input type = "search" name = "q" placeholder="정류소명으로 검색" class="fset form-control" value="{{request.GET.q}}" id='search-text' autofocus="">
                      </form>
          </div>
          <div class="container-1" style="display: inline-block">
              <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>

        <div class="box2">
          <div style="display: inline-block">
              <form method = "GET" action = "{% url 'bus_search' %}">
                  <input type = "search" name = "q" placeholder="버스번호로 검색" class="fset form-control" value="{{request.GET.q}}" id='search-text' autofocus="">
                  </form>
          </div>
          <div class="container-1" style="display: inline-block">
              <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        
        <br>
                  
    
        {% if user.is_active %}
           <a class="white_fset" href = "{% url 'logout' %}">로그아웃</a>
        {% else %}
            <a class="white_fset" href = "{% url 'login' %}">로그인</a>
            <a class="white_fset" href = "{% url 'signup' %}">회원가입</a>
        {% endif %}
        <p class="brigth_sub_fset">© 2019 도르마무</p>
  </body>
</html>
