<h4> 검색 유형</h4> 

<form method = "GET" action = "{% url 'stop_search' %}">
    <input type = "search" name = "q" value="{{request.GET.q}}" id='search-text'>
    <button type="submit">정류소검색</button>
</form>

<br><br><br>
<form method = "GET" action = "{% url 'bus_search' %}">
    <input type = "search" name = "q" value="{{request.GET.q}}" id='search-text'>
    <button type="submit">버스번호검색</button>
</form>
<a href = "{% url 'login' %}">로그인</a>
<a href = "{% url 'signup' %}">회원가입</a>
<a href = "{% url 'logout' %}">로그아웃</a>