{% extends 'ebuapp/navbar.html' %}

{% block content %}
    {% load static %}
    <body class="stopbg">
        <div class="container py-4">
                <div class="row">
                        <div class="col-lg-8 mx-auto">
                        <!-- List group-->
                        <ul class="list-group shadow">
                                <li class="list-group-item">
                                <br>
                                <h5 class="fset text-center"> 유효하지 않은 검색 결과입니다. </h5>
                                <h5 class="fset text-center"> <a href="{% url 'home' %}">다시 검색하기</a></h5>
                                <br>
                                </li>
                        </ul>
                        </div>
                </div>
        </div>
</body>  

{% endblock %}