{% extends 'ebuapp/navbar.html' %}
{% block content %}
    {% load static %}

    {% if user.is_authenticated %}
    
    <body class="stopbg">
        <div class="container py-4"> 
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- List group-->
                    <ul class="list-group shadow">
                        {% for key, value in stationpair.items %}
                            <li class="list-group-item">
                                <div class="media align-items-lg-center flex-column flex-lg-row p-0">
                                    <div class="media-body order-2 order-lg-1">
                                        <a class="mt-0 mb-2 fset" href= "{% url 'stop' key %}">{{value}} </a>
                                    </div>
                                </div>
                            </li>    
                        {% endfor %}
                    </ul>
                </div>
            </div>   
        </div>            
        
    </body>

    {% else %}
    <div class ="text-center">
        <h2>로그인이 필요합니다!</h2>
        <h4>로그인 혹은 회원가입을 하시려면 </h4>
        <h4>좌측 상단의 로그인 버튼을 눌러주세요</h4>
    </div>
    {% endif %}
{% endblock %}